---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Dormitórios e closets">
	<div class="centralizado">
		<div class="container__principal">
			<p class="titulo">BANHEIROS</p>
			<div class="linha"></div>
			<div class="mosaico">
				<div class="container__coluna">
					<img
						class="imagem"
						src="/PontoMovel/banheiros/imagem-1.png"
					/>
					<img
						class="imagem"
						src="/PontoMovel/banheiros/imagem-2.png"
					/>
				</div>
				<div class="container__coluna">
					<img
						class="imagem"
						src="/PontoMovel/banheiros/imagem-3.png"
					/>
					<img
						class="imagem"
						src="/PontoMovel/banheiros/imagem-4.png"
					/>
				</div>
				<div class="container__coluna">
					<img
						class="imagem"
						src="/PontoMovel/banheiros/imagem-5.png"
					/>
				</div>
			</div>
		</div>
	</div>
</Layout>

<style>
	.bg {
		background-color: green;
	}

	.centralizado {
		display: grid;
		place-items: center;
	}

	.container__principal {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		gap: 20px;
	}

	.titulo {
		font-size: 20px;
		font-weight: 600;
	}

	.linha {
		width: 200px;
		border: 3px solid black;
	}

	.mosaico {
		--gap: min(20px, 2vw);

		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: var(--gap);
		padding: 20px;
	}

	.container__coluna {
		display: flex;
		flex-direction: column;
		gap: var(--gap);
	}

	.imagem {
		width: 100%;
	}
</style>
