---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Quem somos">
	<section class="container1">
		<div>
			<h2>MARCENARIA</h2>
			<h1>RESIDENCIAL</h1>
			<p>
				Para a construção dos móveis utilizamos MDF da Duratex em seus
				diversos padrões. A Duratex tem o Microban, antifungos, é
				produzido com eucaliptos, e não com pinus, além de ter a maior
				densidade do mercado. Caso haja preferência por outros padrões,
				também utilizamos outras marcas. Trabalhamos com todas as marcas
				de laminados e também com folhas naturais. Na laca, utilizamos
				produtos Sayerlack. As ferragens são da marca Blum e Hettich.
				Nosso padrão de qualidade é tradicional, fazemos móveis para
				durar. E oferecemos cinco anos de garantia para os móveis
				residenciais.
			</p>
		</div>
		<div>
			<img src="#" alt="" />
			<img src="#" alt="" />
		</div>
	</section>
</Layout>

<style>
	/* header */

	.imagem__vetor {
		position: absolute;
		z-index: -1;
		right: 0;
	}

	.imagem__vetor1 {
		position: absolute;
		z-index: -1;
	}

	.container {
		display: flex;
		justify-content: space-between;
		margin-left: 25px;
		margin-right: 25px;
		align-items: center;
		text-align: center;
		font-family: "Inter", sans-serif;
		color: var(--letracor);
	}

	.container__lista a {
		margin-right: 18px;
		font-size: 15px;
	}

	/* header */

	/* section4 */

	.container5 {
		display: flex;
		justify-content: space-around;
		background-color: var(--backcolor);
		padding-top: 31px;
	}

	.container5__lista {
		display: flex;
		flex-direction: column;
		font-size: 13px;
		font-weight: 400;
	}

	.container5__lista a {
		margin-bottom: 10px;
	}

	.container5__sup {
		display: flex;
		flex-direction: column;
		font-size: 13px;
		font-weight: 400;
	}

	.container5__sup a {
		margin-bottom: 10px;
	}

	.container5__mapa {
		align-items: center;
		text-align: center;
	}

	.container5__texto {
		font-size: 13px;
		font-weight: 400;
	}

	.mapa {
		border-radius: 20px;
		margin-top: 44px;
		margin-bottom: 25px;
	}

	.container5__input {
		align-items: center;
		text-align: center;
	}

	.input {
		margin-bottom: 37px;
	}
</style>
