---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Quem somos">
	<section class="container1">
		<div class="container1__texto">
			<h2>MARCENARIA</h2>
			<h1>RESIDENCIAL</h1>
			<p class="container1__p">
				Para a construção dos móveis utilizamos MDF da Duratex em seus
				diversos padrões. A Duratex tem o Microban, antifungos, é
				produzido com eucaliptos, e não com pinus, além de ter a maior
				densidade do mercado. Caso haja preferência por outros padrões,
				também utilizamos outrasmarcas. Trabalhamos com todas as marcas
				de laminadose também com folhas naturais. Na laca, utilizamos
				produtos Sayerlack. As ferragens são da marca Blum e Hettich.
				Nosso padrão de qualidade é tradicional, fazemos móveis para
				durar. E oferecemos cinco anos de garantia para os móveis
				residenciais.
			</p>
		</div>
		<div class="container1__blocoimg">
			<img
				src="/PontoMovel/residencial/sala-1.png"
				alt="Image de uma sala de estar"
				class="container1__img"
			/>
			<div class="container1__borda">
				<p class="container1__borda_texto">
					Aqui seu sonho vira realidade.
				</p>
			</div>
			<img
				src="/PontoMovel/residencial/fundo.png"
				alt="Uma planta e um tapete"
				class="container1__img2"
			/>
		</div>
	</section>
	<section class="cards_section">
		<div class="cards_container1">
			<a href="/PontoMovel/salas-varandas">
				<div class="card salas_varandas">
					<div class="card-text">SALAS E VARANDAS</div>
				</div>
			</a>
			<a href="/PontoMovel/dormitorios-closets">
				<div class="card dormitorios_closets">
					<div class="card-text">DORMITÓRIOS E CLOSETS</div>
				</div>
			</a>
			<a href="/PontoMovel/cozinhas-lavanderias">
				<div class="card cozinhas_lavanderias">
					<div class="card-text">COZINHAS E LAVANDERIAS</div>
				</div>
			</a>
		</div>
		<div class="cards_container2">
			<a href="/PontoMovel/banheiros">
				<div class="card banheiros">
					<div class="card-text">BANHEIROS</div>
				</div>
			</a>
		</div>
	</section>
</Layout>

<style>
	/* section1 */
	.container1 {
		display: flex;
		justify-content: space-between;
	}

	.container1__p {
		font-size: 13px;
		font-weight: 400;
	}

	.container1__img {
		position: relative;
		margin-right: 80px;
		margin-top: 200px;
	}

	.container1__img2 {
		position: absolute;
		z-index: -2;
		right: 0;
		top: 110px;
	}

	.container1__texto {
		text-align: justify;
		margin: 100px 84px 0 54px;
	}

	.container1__borda {
		box-sizing: border-box;
		border: 3px solid #5b5b5b;
		position: absolute;
		z-index: -1;
		right: 40px;
		top: 200px;
		padding: 57px 307px 222px 56px;
		width: 548px;
		height: 297px;
		font-weight: 600;
		font-size: 15px;
		white-space: nowrap;
	}

	/* section2 */
	.cards_section {
		--gap: min(40px, 5vw);
		--height1: 480px;
		--height2: 250px;

		display: flex;
		flex-direction: column;
		max-width: 1000px;
		margin: 0 auto;
		margin-top: 50px;
		margin-bottom: 30px;
		padding: 0 20px;
		gap: var(--gap);
	}

	.cards_container1 {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: var(--gap);
	}

	.cards_container1 .card {
		height: var(--height1);
	}

	.cards_container2 .card {
		height: var(--height2);
	}

	.card {
		display: grid;
		place-items: center;
		transform: scale(1);
		cursor: pointer;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	.card:hover {
		transform: scale(1.05);
		border: 2px solid #d7a886;
	}

	.card-text {
		display: grid;
		place-items: center;
		text-align: center;
		color: black;
		min-height: 30px;
		font-size: clamp(0.7rem, 1.5vw, 1rem);
		min-width: min(150px, 100%);
		font-weight: 600;
		background-color: #fffc;
		padding: 20px;
	}

	.salas_varandas {
		background-image: url("/PontoMovel/residencial/salas-varandas.png");
	}

	.dormitorios_closets {
		background-image: url("/PontoMovel/residencial/dormitorios-closets.png");
	}

	.cozinhas_lavanderias {
		background-image: url("/PontoMovel/residencial/cozinhas-lavanderias.png");
	}

	.banheiros {
		background-image: url("/PontoMovel/residencial/banheiros.png");
	}

	@media (max-width: 1000px) {
		.container1__borda_texto {
			display: none;
		}

		.container1__texto {
			background-color: #fffe;
			padding: 30px;
			border-radius: 20px;
		}
	}
</style>
