---
import Layout from "../layouts/Layout.astro"
---


<Layout title="Salas e Varandas">
    <h2>SALAS E VARANDAS</h2>
<section class="container">
    
    <div class="container__bloco">
        <div class="container__bloco1">
            <div class="container__bloco1__img">
                <img src="/PontoMovel/salavaranda/image 5.png" alt="#">
                <div class="container__bloco1__img1">
                    <img src="/PontoMovel/salavaranda/image 6.png" alt="#" class="container__bloco1__img2">
                    <img src="/PontoMovel/salavaranda/image 7.png" alt="#" class="container__bloco1__img3">
                </div>    
            </div>
            <div class="container__bloco2">
                <div class="container__bloco2__img">
                    <img src="/PontoMovel/salavaranda/image 10.png" alt="#">
                    <div class="container__bloco2__img1">
                        <img src="/PontoMovel/salavaranda/image 13.png" alt="#" class="container__bloco2__img2">
                        <img src="/PontoMovel/salavaranda/image 13.png" alt="#" class="container__bloco2__img3">
                    </div>
                </div>
            </div>
            <img src="/PontoMovel/salavaranda/image 15.png" alt="#" class="container__bloco2__img15">
        </div>      
    </div>
    <div class="container2__bloco">
        <div class="container2__bloco__img">
            <div class="container2__bloco__img1">
                <img src="/PontoMovel/salavaranda/image 8.png" class="container2__bloco__img2">
                <img src="/PontoMovel/salavaranda/image 9.png" class="container2__bloco__img3">
            </div>
            <img src="/PontoMovel/salavaranda/image 11.png" class="container2__bloco__img3">
        </div>
        <img src="/PontoMovel/salavaranda/image 12.png">
    </div>
    <div class="container3__bloco">
        <img src="/PontoMovel/salavaranda/image 14.png" class="container3__bloco__img1">
        <img src="/PontoMovel/salavaranda/image 16.png" class="container3__bloco__img2">
        <img src="/PontoMovel/salavaranda/image 17.png" class="container3__bloco__img3">
    </div>
</section>

</Layout>

<style>
    .container{
        display: flex;
        justify-content: center;
 }    

    .container__bloco {
        display: flex;
        margin: 100px 20px;

    }

    .container__bloco1 {
        display: flex;
        flex-direction: column;
    }

    .container__bloco1__img{
        display: flex;
        flex-direction: row;
        padding-bottom: 10px;
    }

    .container__bloco1__img1{
        display: flex;
        flex-direction: column;
    }

    .container__bloco1__img2{
        padding-left: 10px;
        padding-bottom: 10px;
        width: 100%;
    }

    .container__bloco1__img3{
        padding-left: 10px;
        width: 100%;
    }

    /* ----------------------------------------------------------------------------------------------------------- */

    .container__bloco2 {
        display: flex;
    }

    .container__bloco2__img{
        display: flex;
        flex-direction: row;
    }


    .container__bloco2__img1{
        display: flex;
        flex-direction: column;
    
    }

    .container__bloco2__img2{
        padding-left: 10px;
        padding-bottom: 20px;
    }

    .container__bloco2__img3{
        padding-left: 10px;
    }

    .container__bloco2__img15{
        padding-top: 10px;
    }

    /* ----------------------------------------------------------------------------------------------------------- */

    .container2__bloco{
        display: flex;
        flex-direction: column;
    }

    .container2__bloco__img{
        display: flex;
        flex-direction: row;
        margin-top:100px
    }

    .container2__bloco__img1{
        display: flex;
        flex-direction: column;
    }

    .container2__bloco__img2 {
        margin-bottom: 10px;
        margin-right: 10px;
    }

    .container2__bloco__img3 {
        margin-right: 10px;
        margin-bottom: 20px;
    }

    /* ----------------------------------------------------------------------------------------------------------- */

    .container3__bloco{
        display: flex;
        flex-direction: column;
        margin-top:100px;
        margin-left: 10px;
    }
    
    .container3__bloco__img1 {
        margin-bottom: 10px;
    }
    
    .container3__bloco__img2 {
        margin-bottom: 10px;
    }
    
    .container3__bloco__img3 {
        margin-bottom: 10px;
    }
</style>