<div class="dots">
	<svg width="6.36" height="6.36">
		<circle cy="3.13" cx="3.13" r="3.13"> </circle>
	</svg>
	<svg width="6.36" height="6.36">
		<circle cy="3.13" cx="3.13" r="3.13"> </circle>
	</svg>
	<svg width="6.36" height="6.36">
		<circle cy="3.13" cx="3.13" r="3.13"> </circle>
	</svg>
	<svg width="6.36" height="6.36">
		<circle cy="3.13" cx="3.13" r="3.13"> </circle>
	</svg>
	<svg width="6.36" height="6.36">
		<circle cy="3.13" cx="3.13" r="3.13"> </circle>
	</svg>
	<svg width="6.36" height="6.36">
		<circle cy="3.13" cx="3.13" r="3.13"> </circle>
	</svg>
	<svg width="6.36" height="6.36">
		<circle cy="3.13" cx="3.13" r="3.13"> </circle>
	</svg>
	<svg width="6.36" height="6.36">
		<circle cy="3.13" cx="3.13" r="3.13"> </circle>
	</svg>
</div>

<style>
	.dots {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		width: max-content;
		gap: 16px;
		fill: var(--backcolor);
	}
</style>
